<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="process($event)" accept=".csv" />
<input type="search" id="searchbox" [(ngModel)]="nameinput" placeholder="Search..">
<table class="table table-striped" *ngIf="finalresult.length > 1">    
  <thead>    
    <tr>        
      <th scope="col">Name </th>    
      <th scope="col">Batch </th>    
      <th scope="col">Stock </th>    
      <th scope="col">Deal </th>    
      <th scope="col">Free </th> 
      <th scope="col">MRP </th>
      <th scope="col">Rate </th>
      <th scope="col">EXP </th>   
    </tr>    
  </thead>    
  <tbody>    
    <tr *ngFor="let record of finalresult | filterpipe : nameinput | paginate: { itemsPerPage:10, currentPage: p , totalItems:totalassets}">    
      <td> <span>{{record.name}}</span> </td>    
      <td> <span>{{record.batch}}</span> </td>    
      <td> <span>{{record.stock}}</span> </td>    
      <td> <span>{{record.deal}}</span> </td>    
      <td> <span>{{record.free}}</span> </td>
      <td> <span>{{record.mrp}}</span> </td> 
      <td> <span>{{record.rate}}</span> </td> 
      <td> <span>{{record.exp}}</span> </td>   
    </tr>    
  </tbody>  
  <pagination-controls (pageChange)="p = $event"></pagination-controls>  
</table>
